.mat-card-header {
  padding: 10px;
  justify-content: center;
}

.main-card-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.name-and-last-name-input-container {
  display: flex;
}

.input-container {
  margin: 8px;
}

.email-input-container .mat-form-field {
  width: 100%;
}

.password-input-container {
  display: flex;
}
