<div class="main-card-input-container">
  <mat-card>
    <mat-card-header> Custom Form Validation </mat-card-header>
    <mat-card-content>
      <form [formGroup]="nameForm" (ngSubmit)="onSubmit()">
        <div class="name-and-last-name-input-container">
          <div class="input-container">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="nameForm.get('name').hasError('required')"
                >Name is required</mat-error
              >
              <mat-error *ngIf="nameForm.get('name').hasError('nameIsInvalid')"
                >Please enter a valid name</mat-error
              >
            </mat-form-field>
          </div>

          <div class="input-container">
            <mat-form-field appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
              <mat-error *ngIf="nameForm.get('lastName').hasError('required')"
                >Last name is required</mat-error
              >
              <mat-error
                *ngIf="nameForm.get('lastName').hasError('nameIsInvalid')"
                >Please enter a valid last name</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="email-input-container">
          <div class="input-container">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="nameForm.get('email').hasError('required')"
                >Email is required</mat-error
              >
              <mat-error *ngIf="nameForm.get('email').hasError('email')"
                >Please enter a valid email</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="password-input-container">
          <div class="input-container">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" />
              <mat-error>Please enter a password that contains</mat-error>
              <mat-error *ngIf="nameForm.get('password').hasError('required')"
                >Password is required</mat-error
              >
            </mat-form-field>
          </div>

          <div class="input-container">
            <mat-form-field appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input matInput formControlName="passWordConfirmation" />
              <mat-error>Passwords do not match</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
